body {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #1d2631;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.visually-hidden {
  display: none;
}

@import "page-header.scss";
@import "main-menu.scss";
@import "mixins.scss";
@import "intro.scss";
@import "download.scss";
@import "download-link.scss";
@import "features.scss";
