$regular: "Open Sans", "Arial", sans-serif;
$light: "Open Sans Light", "Arial", sans-serif;
$bold: "Open Sans Bold", "Arial", sans-serif;
$tablet: "min-width: 660px";
$desktop: "min-width: 960px";
$retina-dpi: "min-resolution: 144dpi";
$retina-dppx: "min-resolution: 1.5dppx";
