@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2"),
       url("../fonts/opensans.woff");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/opensanslight.woff2"),
       url("../fonts/opensanslight.woff");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/opensansbold.woff2"),
       url("../fonts/opensansbold.woff");
}
