.form__wrapper {
  @include wrapper();
  display: flex;
  flex-direction: column;
 }

.form__intro {
  margin-bottom: 50px;
  line-height: 30px;
  text-align: center;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  &--options {
    background: #f2f2f2;
  }
}

.form__item {
  display: flex;
}

.form__input {
  width: 100%;
  box-sizing: border-box;
}

.form-legend {
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans";
  color: #d22856;
  text-align: center;
  &--contacts {
    display: none;
  }
}

.form__label {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  font-family: "Open Sans";
  &--option {
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans";
    color: #283645;
  }
}

.form__textarea {
  width: 100%;
}

@media (min-width: 700px) {
  .form__intro {
    width: 500px;
    margin: 0 auto;
  }
  .form__fieldset {
    background: #ffffff;
    &--platform-type {
      order: 1;
    }
    &--contacts {
      order: 2;
    }
    &--achievement {
      order: 3;
    }
    &--emotions {
      order: 4;
    }
    &--undernote {
      order: 5;
    }
  }
  .form-legend {
    &--contacts {
      display: block;
    }
  }
}

@media (min-width: 1200px) {
  .form__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .form__intro {
    width: 765px;
    margin: 0 auto;
  }
  .form__fieldset {
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    &--name {
      width: 435px;
      margin-right: 70px;
      border: none;
    }
    &--platform-type {
      width: 435px;
      padding-left: 70px;
    }
    &--contacts {
      margin-top: 55px;
    }
    &--undernote {
      border: none;
    }
  }
}


