body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.visually-hidden {
  display: none;
}

h1,
h2,
h3,
h4,
p,
blockquote {
  margin: 0;
  padding: 0;
}
