.btn {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 10px 15px;
  font-family: $bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 20px;
  outline: 0;
  cursor: pointer;
  box-sizing: border-box;
  &--download {
    margin-bottom: 32px;
  }
  &--post {
    margin-bottom: 12px;
  }
}

@media ($tablet) {
  .btn {
    &--post {
      width: 260px;
    }
    &--cancel {
      width: 260px;
    }
  }
}
