.btn {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 10px 15px;
  font-family: $bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 20px;
  outline: 0;
  cursor: pointer;
  box-sizing: border-box;
  &--download {
    margin-bottom: 32px;
  }
  &--post {
    margin-bottom: 12px;
    color: #d22856;
    border-color: #d22856;
    background: none;
  }
  &--cancel {
    color: #283645;
    border-color: #283645;
    background: none;
    opacity: 0.1;
  }
  &--undernote {
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 3px;
    background: #2aab6d;
  }
}

@media ($tablet) {
  .btn {
    &--post {
      width: 260px;
    }
    &--cancel {
      width: 260px;
    }
    &--undernote {
      width: 300px;
      margin: 0;
    }
  }
}
