.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
  font-family: $bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 20px;
  outline: 0;
  cursor: pointer;
  box-sizing: border-box;
  &--download {
    width: 100%;
    margin-bottom: 32px;
  }
}
