.contacts {
  padding-top: 45px;
}

.contacts__wrapper {
  @include wrapper();
}

.contacts__header {
  width: 225px;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 30px;
  font-family: $light;
  text-align: center;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
}

.contacts__inner {
  flex-basis: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  p {
    margin: 0;
    font-size: 18px;
    font-family: $bold;
    text-align: center;
  }
}

.contacts__item {
  &--marked {
    text-decoration: none;
    font-size: 24px;
    color: #d22856;
    font-family: $light;
  }
}

@media ($tablet) {
  .contacts__header {
    width: 400px;
    font-size: 40px;
    line-height: 45px;
  }
}

@media ($desktop) {
  .contacts__header {
    width: 470px;
    font-size: 50px;
    line-height: 58px;
  }
  .contacts__inner{
    p {
      margin-bottom: 25px;
    }
  }
}
