.contacts {
  padding-top: 42px;
  padding-bottom: 10px;
}

.contacts__wrapper {
  @include wrapper();
}

.contacts__header {
  width: 225px;
  margin: 0 auto;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
  font-family: $light;
  text-align: center;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
}

.contacts__inner {
  flex-basis: 300px;
  margin: 0 auto;
  margin-bottom: 19px;
  text-align: center;
  p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: $bold;
    text-align: center;
  }
  &--email {
    margin-bottom: 22px;
  }
}

.contacts__item {
  text-decoration: none;
  font-size: 24px;
  color: #d22856;
  font-family: $light;
  &:hover {
    color: #283645;
    border-bottom: 1px solid #283645;
  }
  &:active {
    color: #283645;
    border-bottom: transparent;
    opacity: 0.3;
  }
}

@media ($tablet) {
  .contacts {
    padding-top: 47px;
    padding-bottom: 0;
  }
  .contacts__header {
    width: 400px;
    margin-bottom: 45px;
    font-size: 40px;
    line-height: 48px;
  }
  .contacts__inner {
    &--email {
      margin-bottom: 46px;
    }
  }
}

@media ($desktop) {
  .contacts {
    padding-top: 78px;
  }
  .contacts__header {
    width: 470px;
    margin-bottom: 60px;
    font-size: 50px;
    line-height: 58px;
  }
  .contacts__inner{
    p {
      margin-bottom: 25px;
    }
    &--adress {
      order: 1;
    }
    &--email {
      order: 2;
    }
  }
}
