.download-link {
  width: 50px;
  height: 60px;
  font-size: 0;
  &--ios {
    background: url(../img/logo-apple.svg) no-repeat 50% 50%;
  }
  &--android {
    background: url(../img/logo-android.svg) no-repeat 50% 50%;
  }
  &--windows {
    background: url(../img/logo-microsoft.svg) no-repeat 65% 65%;
  }
}
