.features {
  padding-top: 40px;
}

.features__wrapper {
  @include wrapper(280px, 0 20px);
}

.features__header {
  p {
    width: 205px;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 24px;
    font-family: "Open Sans Light";
}

.features__item-title {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Open Sans Bold"
}

.features__image {
  text-align: center;
}
