.features {
  padding-top: 40px;
}

.features__wrapper {
  @include wrapper();
  display: flex;
  flex-direction: column;
}

.features__header {
  p {
    width: 205px;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 24px;
    font-family: $light;
    text-align: center;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.features__list {
  padding-top: 100px;
  background: #f2f2f2 url(../img/bg-triangle-white.svg) no-repeat;
}

.features__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  &:last-child {
    p {
      margin-bottom: 45px;
    }
  }
}

.features__item-title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-family: $bold;
  color: #000000;
}

.features__image {
  width: 154px;
  height: 276px;
  margin: 0 auto;
  text-align: center;
  order: 1;
  overflow: hidden;
  &--hidden {
    display: none;
  }
}

@media ($tablet) {
  .features__header {
    margin-bottom: 45px;
    p {
      width: 350px;
      font-size: 40px;
      line-height: 46px;
    }
    p:first-child {
      width: auto;
      margin: 0;
    }
  }
  .features__wrapper {
    position: relative;
  }
  .features__image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 270px;
    height: 480px;
  }
  .features__item {
    width: 310px;
    padding-left: 310px;
    text-align: left;
  }
}

@media ($desktop) {
  .features__wrapper {
    width: 940px;
    flex-direction: row;
    justify-content: space-between;
}
  .features__item-title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
  }
  .features__list {
    width: 100%;
  }
  .features__item {
    width: 292px;
    padding: 0;
    text-align: center;
    p {
      font-size: 18px;
      line-height: 30px;
    }
    p:last-child {
      margin: 0;
    }
  }
  .features__image {
    position: static;
    width: 292px;
    height: 302px;
    margin-bottom: 55px;
    order: 0;
    &--hidden {
      display: block;
    }
  }
}
