.form {
  position: relative;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.form__inner {
  @include wrapper();
}

.form__flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form__intro {
  width: 280px;
  padding: 48px 0 30px 0;
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
  &--visible {
    span {
      display: none;
    }
  }
}

.form__fieldset {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 20px 0 20px;
  border: none;
  box-sizing: border-box;
  &--options {
    padding: 0;
    padding-bottom: 50px;
    margin-bottom: 35px;
    background: #f2f2f2;
    .form__item {
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &--emotions {
    padding: 0;
  }
}

.form__undernote {
  text-align: center;
}

.form__input {
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    border-color: #283645;
  }
  &:active {
    outline: none;
    border-color: #d22856;
  }
  &:focus {
    outline: none;
    border-color: #d22856;
  }
}

.form__input::placeholder {
  font-family: $regular;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.form__item {
  margin-bottom: 15px;
}

.form__checkbox,
.form__radio {
  display: none;
}

.form__checkbox:checked + .form__label::before {
  background: #ffffff url("../img/tick.png") no-repeat 50% 50%;
}

.form__radio:checked + .form__label::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 13px;
  width: 15px;
  height: 15px;
  background: #d22856;
  border-radius: 50%;
}

.form__legend {
  width: 220px;
  margin: 0 auto;
  padding: 35px 0 45px 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  font-family: $regular;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
  background: #f2f2f2;
  &--contacts {
    display: none;
  }
  &--emotions {
    padding: 0;
    padding-bottom: 20px;
    background: none;
  }
}

.form__label {
  position: relative;
  padding-left: 22px;
  font-size: 14px;
  line-height: 40px;
  color: #d22856;
  font-family: $regular;
  text-transform: uppercase;
  &--option {
    padding-left: 70px;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    text-transform: none;
    &:hover::before {
      border-color: #283645;
    }
    &:active::before {
      outline: none;
      border-color: #d22856;
    }
    &::before {
      position: absolute;
      content: "";
      top: -7px;
      left: 0px;
      width: 36px;
      height: 36px;
      border: 2px solid #e5e5e5;
      background: #ffffff;
    }
  }
  &--radio {
    padding-left: 70px;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    text-transform: none;
    &:hover::before {
      border-color: #283645;
    }
    &:active::before {
      outline: none;
      border-color: #d22856;
    }
    &::before {
      position: absolute;
      content: "";
      top: -7px;
      left: 0;
      width: 36px;
      height: 36px;
      border: 2px solid #e5e5e5;
      border-radius: 50%;
      background: #ffffff;
    }
  }
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  padding: 20px;
  border: 1px solid #e5e5e5;
  font-family: $regular;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  &:hover {
    border-color: #283645;
  }
  &:active {
    outline: none;
    border-color: #d22856;
  }
  &:focus {
    outline: none;
    border-color: #d22856;
  }
}

.form__required-field {
  line-height: 30px;
  text-transform: uppercase;
  sup {
    color: #d22856;
  }
}

.form__undernote {
  @include wrapper;
  display: flex;
  flex-direction: column;
}

.form__required-visible {
  display: none;
}

.form__popup {
  display: none;
  position: absolute;
  left: 50%;
  width: 280px;
  padding: 40px 20px 50px 20px;
  margin-left: -160px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  &--success {
    bottom: 150px;
  }
  &--error {
    bottom: 850px;
  }
}

.form__popup--open {
  display: block;
}

.form__popup-header {
  margin: 0;
  margin-bottom: 30px;
  font-family: $bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.form__popup-description {
  margin-bottom: 40px;
}

@media ($tablet) {
  .form__wrapper {
    width: 640px;
    margin: 0 auto;
  }
  .form__inner {
    width: auto;
    margin: 0;
  }
  .form__intro {
    width: 500px;
    margin: 0 auto;
    padding: 90px 40px 70px 40px;
    font-size: 18px;
    line-height: 30px;
    &--visible {
      span {
        display: inline;
      }
    }
  }
  .form__legend {
    width: auto;
    padding: 0;
    margin-top: -10px;
    margin-bottom: 45px;
    background: #ffffff;;
  }
  .form__fieldset {
    width: 640px;
    padding-left: 60px;
    border: 2px solid #e6e6e6;
    background: #ffffff;
    box-sizing: border-box;
    margin-bottom: 70px;
    &--platform-type {
      order: 1;
    }
    &--contacts {
      order: 2;
      padding-right: 60px;
      padding-bottom: 20px;
    }
    &--achievement {
      order: 3;
    }
    &--emotions {
      order: 4;
      padding-right: 60px;
      padding-bottom: 50px;
    }
    &--name {
      padding: 0;
      border: none;
      .form__input {
        flex: 1 1 100px;
        width: auto;
      }
    }
  }
  .form__undernote {
    order: 5;
  }
  .form__legend {
    &--contacts {
      display: block;
    }
  }
  .form__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
    &:last-child {
      margin-bottom: 0;
    }
    &--contacts {
      flex-direction: column;
      position: relative;
      margin-bottom: 30px;
      .form__input {
        order: 1;
      }
      .form__label {
        order: 2;
        align-self: flex-start;
        padding-left: 20px;
        padding-top: 0;
      }
    }
    &--phone {
      &::after {
        position: absolute;
        content: "";
        top: 2px;
        right: 2px;
        width: 56px;
        height: 56px;
        background: #e5e5e5 url("../img/icon-phone.svg") no-repeat 50% 50%;
      }
    }
    &--email {
      &::after {
        position: absolute;
        content: "";
        top: 2px;
        right: 2px;
        width: 56px;
        height: 56px;
        background: #e5e5e5 url("../img/icon-mail.svg") no-repeat 50% 50%;
      }
    }
  }
  .form__label {
    margin-right: 20px;
  }
  .form__flex-container {
    flex-direction: column;
  }
  .form__undernote {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

@media ($desktop) {
  .form__wrapper {
    width: 940px;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .form__intro {
    width: 765px;
    margin: 0 auto;
  }
  .form__inner {
    &--half {
      width: auto;
    }
  }
  .form__fieldset {
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    &--name {
      width: 435px;
      margin-right: 70px;
      margin-bottom: 30px;
      border: none;
    }
    &--platform-type {
      width: 435px;
      margin-bottom: 30px;
    }
    &--contacts {
      margin-top: 55px;
      padding-bottom: 0;
    }
    &--options {
      padding-left: 20px;
      .form__item {
        width: 300px;
        margin-bottom: 0;
      }
      .form__label {
        margin-right: 0;
      }
    }
  }
  .form__item {
    margin-bottom: 0;
  }
  .form__legend {
    padding: 0;
  }
  .form__flex-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    &--contacts {
      flex-direction: row;
      justify-content: space-between;
      .form__item {
        width: 376px;
      }
    }
  }
  .form__required-visible {
    display: inline;
  }
}
