.gallery-item {
  position: relative;
  margin-bottom: 20px;
}

.gallery-item__wrapper {
  @include wrapper ();
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #f2f2f2;
  &--panorama {
    position: relative;
    width: 280px;
    margin: 0 auto;
  }
}

.gallery-item__comment {
  margin: 0;
  padding: 15px;
  background: #f2f2f2;
}

.gallery-item__photo {
  position: relative;
  line-height: 0;
  text-align: center;
  &--panorama {
    width: 320px;
    height: 137px;
    margin: 0 auto;
    &::before {
      position: absolute;
      content: "Панорама дня";
      top: 0;
      right: 20px;
      width: 140px;
      height: 24px;
      paddin-top: 12px;
      font-family: $bold;
      font-size: 12px;
      line-height: 24px;
      text-transform: uppercase;
      text-align: center;
      background: #d22856;
      color: #ffffff;
    }
  }
}

.gallery-item__user-name {
  font-family: $bold;
  font-style: normal;
}

.gallery-item__post-time {
  font-family: $light;
  font-size: 12px;
  &::before {
    content: "(";
  }
    &::after {
    content: ")";
  }
}

.gallery-item__footer {
  margin-top: auto;
  background: #f2f2f2;
}

@media ($tablet) {
  .gallery-item__wrapper {
    width: 300px;
    min-height: 450px;
    &--panorama {
      width: 620px;
      min-height: 100px;
      margin: 0 auto;
    }
  }
  .gallery-item {
    &--panorama {
      width: 100%;
    }
    &--layout {
      margin-right: 20px;
      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
  .gallery-item__photo {
    &--panorama {
      width: 700px;
      height: 509px;
    }
  }
}

@media ($desktop) {
  .gallery-item {
    &--layout {
      &:nth-child(even) {
        margin-right: 20px;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
  .gallery-item__photo {
    &--panorama {
      width: 1200px;
      height: 506px;
    }
  }
}
