.gallery__wrapper {
  @include wrapper();
  display: flex;
  flex-direction: column;
}

.gallery__intro {
  width: 245px;
  padding: 45px 0 50px 0;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
}

@media ($tablet) {
  .gallery__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
  }
  .gallery__intro {
    width: 460px;
    padding-top: 95px;
    padding-bottom: 75px;
    font-size: 18px;
  }
}
