.gallery-item {
  margin-bottom: 20px;
}

.gallery__wrapper {
  @include wrapper();
}

.gallery__comment {
  padding: 15px;
  background: #f2f2f2;
}

.gallery__photo {
  line-height: 0;
}

.gallery__footer {
  background: #f2f2f2;
}

