.intro {
  padding-top: 100px;
  padding-bottom: 82px;
  background: #2c3949 url("../img/bg-back-mobile@1x.jpg") no-repeat top center;
  &--form {
    padding-bottom: 50px;
  }
}

.intro__title {
  width: 240px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  font-family: $light;
}

@media ($retina-dpi) and ($retina-dppx) {
  background: #2c3949 url("../img/bg-back-mobile@2x.jpg") no-repeat top center;
  background-size: 462px auto;
}

@media ($tablet) {
  .intro {
    padding-top: 190px;
    padding-bottom: 140px;
    &--form {
      padding-bottom: 85px;
    }
    background: #2c3949 url("../img/bg-back-tablet@1x.jpg") no-repeat top center;
  }
  .intro__title {
    width: 480px;
    font-size: 50px;
    line-height: 58px;
  }
  @media ($retina-dpi) and ($tablet),
         ($retina-dppx) and ($tablet) {
    background: #2c3949 url("../img/bg-back-tablet@2x.jpg") no-repeat top center;
    background-size: 729px auto;
}

@media ($desktop) {
  .intro {
    padding-top: 180px;
    padding-bottom: 105px;
    &--form {
      padding-bottom: 50px;
    }
    background: #2c3949 url("../img/bg-back-desktop@1x.jpg") no-repeat top center;
  }
  @media ($retina-dpi) and ($desktop),
         ($retina-dppx) and ($desktop) {
    background: #2c3949 url("../img/bg-back-desktop@2x.jpg") no-repeat top center;
        background-size: 853px auto;
    }
  }
}
