.likes {
  position: relative;
  padding: 0px 10px 25px 50px;
  font-size: 12px;
  color: #d22856;
}

.likes__count {
  margin-left: 2px;
}

.likes__btn {
  position: absolute;
  top: 6px;
  left: 18px;
  width: 13px;
  height: 12px;
  font-size: 0;
  border: none;
  background: url(../../img/icon-heart.svg) no-repeat top;
  cursor: pointer;
}
