.logo {
  &--page-header {
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    img {
      width: 75px;
      height: 25px;
    }
  }
  &--page-footer {
    margin-bottom: 40px;
    img {
      width: 147px;
      height: 40px;
    }
  }
}

@media (min-width: 1200px) {
  .logo {
    &--page-header {
      width: auto;
      background: none;
    }
  }
}
