.logo {
  &--page-header {
    @include wrapper();
    position: relative;
    padding: 21px 0 16px 0;
    img {
      width: 75px;
      height: 25px;
    }
  }
  &--page-footer {
    padding-top: 10px;
    margin-bottom: 35px;
    img {
      width: 147px;
      height: 40px;
    }
  }
}

@media ($tablet) {
  .logo {
    &--page-header {
      margin: 0 auto;
      padding: 27px 0 36px 26px;
      img {
        width: 150px;
        height: 40px;
      }
    }
    &--page-footer {
      padding-left: 20px;
    }
  }
}

@media ($desktop) {
  .logo {
    &--page-header {
      width: 150px;
      float: left;
      padding: 0;
      padding-left: 20px;
    }
  }
}
