.logo {
  &--page-header {
    position: relative;
    @include wrapper();
    padding: 21px 0 21px 0;
    img {
      width: 75px;
      height: 25px;
    }
  }
  &--page-footer {
    margin-bottom: 40px;
    img {
      width: 147px;
      height: 40px;
    }
  }
}

@media ($tablet) {
  .logo {
    &--page-header {
      img {
        width: 150px;
        height: 40px;
      }
    }
  }
}

@media ($desktop) {
  .logo {
    &--page-header {
      width: 150px;
      float: left;
      padding: 0;
    }
  }
}
