.main-menu {
  background: #283645;
}

.main-menu__list {
    @include list-clear();
  }

.main-menu__item {
  text-align: center;
  border-top: 1px solid #000000;
  box-shadow: inset 0 2px 2px 0 #485461;
}

.main-menu__link {
  font-family: $bold;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
}

.main-menu__toggle {
  position: absolute;
  top: 0;
  right: 0;
/* &--close {
    &::after,
    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 3px;
      background: #ffffff;
    }
  } */
}

@media (min-width: 1200px) {
  .main-menu {
    background: none;
  }
  .main-menu__list {
    display: flex;
    flex-direction: row;
  }
  .main-menu__toggle {
    display: none;
  }
  .main-menu__item {
    margin-right: 50px;
    border: none;
    box-shadow: none;
  }
  .main-menu__item:last-child {
    margin-right: 0;
  }
}
