.page-footer {
  margin-top: 40px;
  text-align: center;
}

.page-footer__wrapper {
  @include wrapper();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 130px;
  padding-top: 10px;
}

.page-footer--index-mobile {
  display: none;
}

@media ($tablet) {
  .page-footer__wrapper {
    flex-direction: row;
  }
  .page-footer__copyright {
    align-self: flex-start;
  }
}

@media ($desktop) {
  .page-footer__copyright {
    width: 150px;
    font-size: 18px;
  }
}
