.page-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
}

.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
  &--download {
    width: 100%;
    padding-top: 460px;
    background: url("../img/iphone-hand-mobile@1x.png") no-repeat left 175px,
                #2c3949 url("../img/bg-back-mobile@1x.jpg") no-repeat top center;
  }
}

@media ($tablet) {
  .page-header__wrapper {
    width: 700px;
    &--download {
      padding-top: 250px;
      background: url("../img/iphone-hand-tablet@1x.png") no-repeat 50% bottom,
                  #2c3949 url("../img/bg-back-tablet@1x.jpg") no-repeat 50% bottom;
    }
  }
}

@media ($desktop) {
  .page-header__wrapper {
    @include wrapper();
    padding: 25px 120px 40px 120px;
    &--download {
      padding-top: 300px;
      background: url("../img/iphone-hand-desktop@1x.png") no-repeat 50% bottom,
                  #2c3949 url("../img/bg-back-desktop@1x.jpg") no-repeat 50% bottom;
    }
    &--bg {
      position: relative;
      margin-bottom: -100px;
      background: rgba(0, 0, 0, 0.3);
    }
  }
}
