.page-footer {
  padding-top: 45px;
  text-align: center;
}

.page-footer__wrapper {
  @include wrapper();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 130px;
}

.page-footer--index-mobile {
  display: none;
}

@media ($tablet) {
  .page-footer--index-mobile{
    display: block;
  }
  .page-footer__wrapper {
    flex-direction: row;
  }
  .page-footer__copyright {
    align-self: flex-start;
    padding-top: 15px;
    line-height: 18px;
  }
}

@media ($desktop) {
  .page-footer {
    padding-top: 70px;
  }
  .page-footer__copyright {
    width: 150px;
    font-size: 18px;
  }
}
