.photo-post__wrapper {
  @include wrapper();
}

.photo-post__intro {
  line-height: 30px;
  text-align: center;
}

.photo-post__interface {
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .photo-post__interface {
    flex-direction: row;
    justify-content: space-between;
  }
}
