.reviews {
  position: relative;
  padding-top: 42px;
  padding-bottom: 90px;
}

.reviews__item {
  display: none;
  flex-direction: column;
  margin: 0;
  line-height: 30px;
  p {
    margin: 0;
    text-align: center;
  }
}

.reviews__wrapper {
  @include wrapper();
}

.reviews__user {
  margin-bottom: 11px;
  text-align: center;
}

.reviews__user-name {
  font-size: 18px;
  line-height: 30px;
  font-family: $bold;
  font-style: normal;
  color: #000000;
}

.reviews__user-description {
  display: none;
}

@media ($tablet) {
  .reviews__item {
    p {
      margin-bottom: 36px;
      font-size: 18px;
      line-height: 30px;
    }
  }
  .reviews__user-name {
    font-size: 20px;
  }
  .reviews__user-description {
    display: block;
    line-height: 30px;
  }
  .reviews__user {
    order: 1;
    text-align: center;
  }
}

@media ($desktop) {
  .reviews {
    padding-top: 170px;
    background: url("../img/icon-quotes.svg") no-repeat 50% 74px;
  }
  .reviews__item {
    width: 680px;
    margin: auto;
  }
  .reviews__user-name {
    font-size: 24px;
  }
  .reviews__user-description {
    font-size: 18px;
  }
}
