.reviews__item {
  display: flex;
  flex-direction: column;
  line-height: 30px;
}

.reviews__wrapper {
    @include wrapper();
  }

.reviews__user-name {
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans Bold";
  font-style: normal;
}

.reviews__user-description {
  display: none;
}

@media (min-width: 700px) {
  .reviews__user-description {
    display: block;
  }
  .reviews__user {
    order: 1;
    text-align: center;
  }
}
