.reviews {
  position: relative;
  padding-top: 45px;
}

.reviews__item {
  display: none;
  flex-direction: column;
  margin: 0;
  padding: 0 20px;
  line-height: 30px;
  p {
    text-align: center;
  }
}

.reviews__wrapper {
  @include wrapper();
}

.reviews__user {
  text-align: center;
}

.reviews__user-name {
  font-size: 18px;
  line-height: 30px;
  font-family: $bold;
  font-style: normal;
  color: #000000;
}

.reviews__user-description {
  display: none;
}

@media (min-width: 700px) {
  .reviews__item {
    p {
      font-size: 18px;
      line-height: 30px;
    }
  }
  .reviews__user-name {
    font-size: 20px;
  }
  .reviews__user-description {
    display: block;
    line-height: 30px;
  }
  .reviews__user {
    order: 1;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .reviews__item {
    width: 680px;
    margin: auto;
  }
  .reviews__user-name {
    font-size: 24px;
  }
  .reviews__user-description {
    font-size: 18px;
  }
}
