.slider__input1:checked ~ .slider__item1,
.slider__input2:checked ~ .slider__item2,
.slider__input3:checked ~ .slider__item3 {
  display: flex;
}

.slider--tariff {
  .slider__input1:checked ~ .tariff__description {
    left: 20px;
  }
  .slider__input2:checked ~ .tariff__description {
    left: -310px;
  }
  .slider__input3:checked ~ .tariff__description {
    left: -645px;
  }
}
