.slider {
  position: relative;
}

.slider__input1,
.slider__input2,
.slider__input3 {
  display: none;
}

.slider__input1:checked ~ .slider__item1,
.slider__input2:checked ~ .slider__item2,
.slider__input3:checked ~ .slider__item3 {
  display: flex;
}

.slider__controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 68px;
  height: 12px;
  left: 50%;
  bottom: -42px;
  margin-left: -32px;
  z-index: 10;
  &--tariff {
    bottom: -50px;
  }
}

.slider__prev-review,
.slider__next-review {
  display: none;
  position: absolute;
  top: 40px;
  left: 20px;
  width: 25px;
  height: 43px;
  font-size: 0;
  cursor: pointer;
  background: url("../img/icon-review-arrow-left.svg") no-repeat;
  border: none;
  opacity: 0.3;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.1;
  }
}

.slider__next-review {
  left: 940px;
  background: url("../img/icon-review-arrow-right.svg") no-repeat;
}

.slider__label1,
.slider__label2,
.slider__label3 {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(40, 54, 69, 0.3);
  border: 3px solid #ffffff;
  cursor: pointer;
  &:hover {
    background: rgba(40, 54, 69, 0.6);
  }
  &:active {
    background: rgba(40, 54, 69, 0.1);
  }
}

.slider__input1:checked ~ .tariff__table-wrapper .tariff__description {
  left: 20px;
}
.slider__input2:checked ~ .tariff__table-wrapper .tariff__description {
  left: -260px;
}
.slider__input3:checked ~ .tariff__table-wrapper .tariff__description {
  left: -540px;
}
.slider__label1,
.slider__label2,
.slider__label3 {
  border: 3px solid #f2f2f2;
}

.slider__input1:checked ~ .slider__controls .slider__label1,
.slider__input2:checked ~ .slider__controls .slider__label2,
.slider__input3:checked ~ .slider__controls .slider__label3 {
  background: none;
  border: 3px solid #283645;
}

@media ($tablet) {
  .slider__controls {

    bottom: -40px;
  }
  .slider {
    &--tariff {
      input[class^="slider"] {
        display: none;
      }
      .slider__controls {
        display: none;
      }
    }
  }
}

@media ($desktop) {
  .slider__controls {
    display: none;
  }
  .slider__prev-review,
  .slider__next-review {
    display: inline-block;
  }
}
