.social-link {
  width: 47px;
  height: 47px;
  font-size: 0;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  &--twitter {
    background: url(../../img/icon-twitter.svg) no-repeat 50% 50%;
  }
  &--facebook {
    background: url(../../img/icon-facebook.svg) no-repeat 50% 50%;
  }
  &--youtube {
    background: url(../../img/icon-youtube.svg) no-repeat 50% 50%;
  }
}
