.tariff {
  padding-top: 130px;
  background: #f2f2f2 url(../../img/bg-triangle-white.svg) no-repeat;
  overflow: hidden;
}

.tariff__description {
  & th {
    width: 280px;
    padding: 15px 70px;
    color: #ffffff;
    background: #283645;
  }
  & td {
    background: #ffffff;
  }
}
